<footer>
    <div class="footer-bottom">
      <div class="container d-flex">
        <div class="copyright mr-auto">
          &copy; SVANA DESIGN 2022
        </div>
        <div class="payment-gateways ml-auto">
          <ul class="list-unstyled list-inline m-0">
            <li class="list-inline-item"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0349/3311/2968/files/payment-options-1.webp?v=1618863265" alt=""></li>
            <li class="list-inline-item"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0349/3311/2968/files/payment-options-2.webp?v=1618863265" alt=""></li>
          </ul>
        </div>
      </div>
    </div>   
  </footer>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.1/lazysizes.min.js" integrity="sha512-bYhVDhvd1S5L7xVr2ADJcUeue6MKoOsNCzGBUlChGdjF0WWnd7eqGVu3DfLy3MFZIE9qPkfvcdJNeGHvWBcc+A==" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="https://assets.a28z.com/js/jquery-3.4.1.min.js"><\/script>')
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.pkgd.min.js"></script>
  <script src="../assets/js/default.js"></script>
  <script src="../assets/js/app.js"></script>