<header>
    <div class="top-header d-block">
      <div class="container d-flex">
        <div class="top-banner-wrapper w-100 d-flex">
          <div class="top-banner mx-auto text-center d-flex">
            <div class="hr"></div>
            <div class="top-banner-text">FREE SHIPPING ON ORDER OVER $35</div>
            <div class="hr"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-header">
      <div class="container d-flex w-100 justify-content-center">
        <div class="logo d-none d-lg-flex pt-4 pb-4">
          <a href="https://svanadesign.com/">
            <img src="https://cdn.shopify.com/s/files/1/0349/3311/2968/files/svana-logo_25f97d3f-45c8-4991-b5db-26f0f443b409.svg?v=1634749627" alt="">
          </a>
        </div>
        <div class="logo d-flex d-lg-none">
          <a href="https://svanadesign.com/">
            <img src="https://cdn.shopify.com/s/files/1/0349/3311/2968/files/svana-logo_25f97d3f-45c8-4991-b5db-26f0f443b409.svg?v=1634749627" alt="">
          </a>
        </div>
      </div>  
    </div>
  </header>